html,body{
  height: 100%
}

/* Start headerNav */
.headerNavUl {
  margin-left: 10%;
}  

.headerNavForm input{
  border-radius: 2px;
  background-color: #343A40;
  text-align: center;
  color: white;
}
.headerNavIcon, .headerNavUl a, .headerNavForm > i, .headerNavForm input::-webkit-input-placeholder {
  color: white;
}
.form-inline{
  flex-flow: row;
}
.registerBtn, .loginBtn{
  background-color : white
}
.headerNavForm, .registerBtn, .loginBtn{
  margin-left: 1.5rem;
}
/* End headerNav */


/* Start Journey */
 #journey{
  margin-top: 75px;
}
.journeyDiv1 img,h4{
  margin-left: 7rem;
}
.journeyDiv1 h4{
  display: inline;
  margin-left: 1rem;
}
.journeyDiv2 h4{
  margin-top: 5px;
  margin-left: 10rem;
  
}

.ez,.head2{
  color: #C31C50;
}

/* End Journey */

/* Responsiveness */


@media only screen and (max-width: 1265px){
  .headerNavUl {
    margin-left: 0%;
  } 
}
  
  @media only screen and (max-width: 991px){
      .journeyDiv1 , .journeyDiv1 h4,.journeyDiv2 h4{
      display: block;
      text-align: center;
    }
    .journeyDiv1 img, .journeyDiv2 h4{
      margin-left: 0rem
    }
}

@media only screen and (max-width: 575px){
  
  .headerNavForm > input, i{
    margin-right: 1rem; 
  }
 
}

  @media only screen and (max-width: 396px){
    .headerNavForm{
      
      width:75%;
    }
    #menuBar{
      width: 30px;
    }
    }
    