html,
body{
    height: 100%;
    font-family: "OpenSans-Regular";
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: local('OpenSans-Regular.ttf'), url('OpenSans-Regular.ttf') format('truetype');

}

/*START HOME */
#home {
        background: url(../img/2.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 6px 8px -6px rgba(0,0,0,.1);
    position: relative;
    height: 663px;
}
.home-container{
    height: 663px;
    
    background-color: rgba(255, 255, 255,0.6);
}
.menu-bar{
    display: none;
}
.menuBarBtn{
    background-color: #ea5b31;
    color: white;
}
.page-header .row{
    background-color: #ea5b31;
    height: 4rem;
    
}

.page-header{
    
    padding-bottom: 0.5%;
}
.pandaImg{
    margin-top: 1%;
    margin-left: 1.8rem;
}
.label{
    margin-left: 0.5%;
}
.icon{
    margin-left: 2rem;
}
.helpLogin{
    margin-top: 2%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
    padding-left: 8%;
    
}

.main-heading{
    font-family: 'OpenSans-Regular';
    color: rgba(234, 91, 49, 0.8);
    margin-top: 5rem;
    font-size: 50px;
    margin-left: 11.5rem;
}
.sub-heading{
    font-family: 'OpenSans-Regular';
    color: rgba(0, 0, 0, 0.5);
    margin-left: 27rem;
    
}
.citySelect{
    padding-left: 10px;
    color: #18A689;
    width: 100%;
    text-align: left;
    height: 3rem;
    background-color: white;
    border: 1px solid #18A689;
    border-radius: 1px;
    margin-top: 10px;
    
    
    
}
.selectOption{
    color: gray;
    top: 92%;
    border: 1px solid #18A689;
    border-top-color: white;
}
.areaInput{
    height: 3rem;
    width: 100%;
    border: 1px solid #18A689;
    /*margin-left: -0.5%;*/
    padding-left: 10px;
    margin-top: 10px;
}

.restaurantBtn{
    height: 3rem;
    width: 100%;
    background-color: #18A689;
    border: 1px solid #18A689;
    /*margin-left: -0.5%;*/
    color: white;
    margin-top: 10px;

}

.formDiv{
    margin-top: 2rem;
    height: 18%;
    width: 60rem;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 1.5rem;
    text-align: center;
    margin-left: 8rem;
    padding-left: 30px;
    padding-right: 30px;

}
.formDiv form{
    width: 900px;
}
.setCol{

    /*width: 300px;*/
    padding-left: 0;
    padding-right:  0;

}
/*END HOME*/

/* Start Food Steps*/

#foodSteps{

}
.title{
    text-align: center;
    margin-top: 1rem;
    margin-left: 7rem;
    font-size: 18px;
    color: #777;
}
.trigger{
    color: #333;
    font-weight: 700;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
}
#foodSteps hr{
    width: 82.2rem;
    margin-left: -7rem;
}
    .fa-play{
    font-size: 14px;
    padding-left: 0.5rem;
    }
    .fa-sort-desc{
    font-size: 25px;
    padding-left: 0.3rem;
    
    }
    
/*End Food Steps*/

/*Media Quries*/
@media only screen and (max-width: 1200px) {
    
    .home-container{
        height: 567px;
    }
    #home{
        height: 567px;
    }
    .headingDiv{
    margin-top: -2.5rem;
}
.headerImgDiv{
    margin-left: 5rem;
}
.formDiv{
    height: 20%;
    margin-left: 4.4rem;
}
.main-heading{
    margin-top: 8rem;
    margin-left: 8rem;
}
.sub-heading{
    margin-left: 24rem;

    
}
}
@media only screen and (max-width: 1110px) {
 .formDiv{
    width: 56rem;
}   
 .formDiv form{
    width: 840px;
}   
.main-heading{
    font-size: 45px;
}

}
@media only screen and (max-width: 991px) {
    #home{
        height: 600px;
    }
    .home-container{
    height: 600px;
}

    .formDiv {
    height: 210px;
    width: 420px;
    margin-left: 16rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.6rem;

    }

    .formDiv form {
    display: block;
    width: 693px;
    }
    .helpLogin{
    margin-top: 2.5%;
    margin-left: -82px;
    }
    .pandaImg
    {
    margin-left: -3.7rem;
    margin-top: 3%;
    }
    .main-heading{
    font-size: 57px;
    margin-top: 5rem;
    text-align: center;
    margin-left: 0rem;
    }
    .sub-heading{
    margin-left: 18rem;
    }
    
}

@media only screen and (max-width: 850px) {
    .formDiv {
        margin-left: 11.5rem;
    }
    .sub-heading{
        margin-left: 13rem;
    }
    .main-heading{
        margin-left: -1rem;
    }
}
@media only screen and (max-width: 767px) {
    #home{
    height: 370px
    }
    .home-container{
    height: 370px
    }
    .helpLogin {
    padding-left: 35%;
    margin-top: 0.5rem;
    }
.helpLogin span{
    margin-left: 0.5rem;
}
    .pandaImg{
    height: 2rem;
    margin-top: 0.3rem;
    margin-left: -5rem;
    }
    .page-header .row{
        height: 2.5rem;
    }
    .formDiv {
        margin-left: 9rem;
        width: 420px
    }
    .formDiv form {
         width: 119%;
    }
    .main-heading{
        font-size: 25px;
    }
}
@media only screen and (max-width: 660px) {
    .formDiv{
        margin-left: 4rem
    }
}

@media only screen and (max-width: 543px) {
    .formDiv {
    margin-left: 2.5rem;
    width: 85%;
    }
    .formDiv form {
         width: 96%;
    }
}

@media only screen and (max-width: 480px) {
    .page-header .row {
    height: 3.5rem;
    box-shadow: 0 0 40px black;
    }
        .helpLogin{
        display: none;
    }
    .headerImgDiv img{
    margin-left: 3rem;
    height: 2rem;
    margin-top: 1rem;
    }
    .menu-bar{
    position: absolute;
    display: block;
    margin-left: 1rem;
    padding-top: 0rem;
    margin-top: -2.5rem;
}
.sideBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.2);  
}
.frontSideBar{
    position: relative;
    width: 320px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 25px #1c2c3a;
}
    .sidebarHeader{
    background-color: #ea5b31;
    height: 18%;
    }
    .sidebarHeader img{
    margin-top: -1rem;
    margin-left: 2rem;
    height: 4rem;
    border-radius: 3rem;
    }
    .sidebarHeader label{
    margin-left: 2rem;
    color: white;
    font-size: 20px;
    padding-top: 2rem;
    }
    .sidebarBody{

    }
    .sidebarBody ul li {
    list-style: none;
    margin-top: 20px;
    font-size: 1.2rem;
    margin-left: -1rem;

    }
.sidebarBody ul li i {
    font-size: 1.7rem;
    margin-right: 15px;
}
.sidebarBody ul  hr{
    margin-left: -1rem;
    width: 96%;
    margin-top: 0.2rem;
}
.sidebarBody ul li a{
    color: gray;
}
        
}
